body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color:rgb(255, 0, 0)
}

main {
    display: flex;
    flex: 1;
}

article {
    flex: 1;
}

nav,
aside {
    /* this is the column width */
    flex: 0 0 12em;
}
